In [1]:
import pandas as pd
import os
import glob

In [2]:
data_file_path = r'..\dataset\processed_data\*\*.parquet'
ohlcv_folder = r".\OHVLC_data\*.csv"

input_files = glob.glob(data_file_path)
output_files = glob.glob(ohlcv_folder)

# Validate files
for file in input_files:
    print(file)

for file in output_files:
    print(file)

df_input_list = [pd.read_parquet(file) for file in input_files]
df_output_list = [pd.read_csv(file) for file in output_files]

df_input = pd.concat(df_input_list, ignore_index=True)
df_output = pd.concat(df_output_list, ignore_index=True)

..\dataset\processed_data\201901\filtered_ctm_20190102.parquet
..\dataset\processed_data\201901\filtered_ctm_20190103.parquet
..\dataset\processed_data\201901\filtered_ctm_20190104.parquet
..\dataset\processed_data\201901\filtered_ctm_20190107.parquet
..\dataset\processed_data\201901\filtered_ctm_20190108.parquet
..\dataset\processed_data\201901\filtered_ctm_20190109.parquet
..\dataset\processed_data\201901\filtered_ctm_20190110.parquet
..\dataset\processed_data\201901\filtered_ctm_20190111.parquet
..\dataset\processed_data\201901\filtered_ctm_20190114.parquet
..\dataset\processed_data\201901\filtered_ctm_20190115.parquet
..\dataset\processed_data\201901\filtered_ctm_20190116.parquet
..\dataset\processed_data\201901\filtered_ctm_20190117.parquet
..\dataset\processed_data\201901\filtered_ctm_20190118.parquet
..\dataset\processed_data\201901\filtered_ctm_20190122.parquet
..\dataset\processed_data\201901\filtered_ctm_20190123.parquet
..\dataset\processed_data\201901\filtered_ctm_20190124.parquet
..\dataset\processed_data\201901\filtered_ctm_20190125.parquet
..\dataset\processed_data\201901\filtered_ctm_20190128.parquet
..\dataset\processed_data\201901\filtered_ctm_20190129.parquet
..\dataset\processed_data\201901\filtered_ctm_20190130.parquet
..\dataset\processed_data\201901\filtered_ctm_20190131.parquet
..\dataset\processed_data\201902\filtered_ctm_20190201.parquet
..\dataset\processed_data\201902\filtered_ctm_20190204.parquet
..\dataset\processed_data\201902\filtered_ctm_20190205.parquet
..\dataset\processed_data\201902\filtered_ctm_20190206.parquet
..\dataset\processed_data\201902\filtered_ctm_20190207.parquet
..\dataset\processed_data\201902\filtered_ctm_20190208.parquet
..\dataset\processed_data\201902\filtered_ctm_20190211.parquet
..\dataset\processed_data\201902\filtered_ctm_20190212.parquet
..\dataset\processed_data\201902\filtered_ctm_20190213.parquet
..\dataset\processed_data\201902\filtered_ctm_20190214.parquet
..\dataset\processed_data\201902\filtered_ctm_20190215.parquet
..\dataset\processed_data\201902\filtered_ctm_20190219.parquet
..\dataset\processed_data\201902\filtered_ctm_20190220.parquet
..\dataset\processed_data\201902\filtered_ctm_20190221.parquet
..\dataset\processed_data\201902\filtered_ctm_20190222.parquet
..\dataset\processed_data\201902\filtered_ctm_20190225.parquet
..\dataset\processed_data\201902\filtered_ctm_20190226.parquet
..\dataset\processed_data\201902\filtered_ctm_20190227.parquet
..\dataset\processed_data\201902\filtered_ctm_20190228.parquet
..\dataset\processed_data\201903\filtered_ctm_20190301.parquet
..\dataset\processed_data\201903\filtered_ctm_20190304.parquet
..\dataset\processed_data\201903\filtered_ctm_20190305.parquet
..\dataset\processed_data\201903\filtered_ctm_20190306.parquet
..\dataset\processed_data\201903\filtered_ctm_20190307.parquet
..\dataset\processed_data\201903\filtered_ctm_20190308.parquet
..\dataset\processed_data\201903\filtered_ctm_20190311.parquet
..\dataset\processed_data\201903\filtered_ctm_20190312.parquet
..\dataset\processed_data\201903\filtered_ctm_20190313.parquet
..\dataset\processed_data\201903\filtered_ctm_20190314.parquet
..\dataset\processed_data\201903\filtered_ctm_20190315.parquet
..\dataset\processed_data\201903\filtered_ctm_20190318.parquet
..\dataset\processed_data\201903\filtered_ctm_20190319.parquet
..\dataset\processed_data\201903\filtered_ctm_20190320.parquet
..\dataset\processed_data\201903\filtered_ctm_20190321.parquet
..\dataset\processed_data\201903\filtered_ctm_20190322.parquet
..\dataset\processed_data\201903\filtered_ctm_20190325.parquet
..\dataset\processed_data\201903\filtered_ctm_20190326.parquet
..\dataset\processed_data\201903\filtered_ctm_20190327.parquet
..\dataset\processed_data\201903\filtered_ctm_20190328.parquet
..\dataset\processed_data\201903\filtered_ctm_20190329.parquet
..\dataset\processed_data\201904\filtered_ctm_20190401.parquet
..\dataset\processed_data\201904\filtered_ctm_20190402.parquet
..\dataset\processed_data\201904\filtered_ctm_20190403.parquet
..\dataset\processed_data\201904\filtered_ctm_20190404.parquet
..\dataset\processed_data\201904\filtered_ctm_20190405.parquet
..\dataset\processed_data\201904\filtered_ctm_20190408.parquet
..\dataset\processed_data\201904\filtered_ctm_20190409.parquet
..\dataset\processed_data\201904\filtered_ctm_20190410.parquet
..\dataset\processed_data\201904\filtered_ctm_20190411.parquet
..\dataset\processed_data\201904\filtered_ctm_20190412.parquet
..\dataset\processed_data\201904\filtered_ctm_20190415.parquet
..\dataset\processed_data\201904\filtered_ctm_20190416.parquet
..\dataset\processed_data\201904\filtered_ctm_20190417.parquet
..\dataset\processed_data\201904\filtered_ctm_20190418.parquet
..\dataset\processed_data\201904\filtered_ctm_20190422.parquet
..\dataset\processed_data\201904\filtered_ctm_20190423.parquet
..\dataset\processed_data\201904\filtered_ctm_20190424.parquet
..\dataset\processed_data\201904\filtered_ctm_20190425.parquet
..\dataset\processed_data\201904\filtered_ctm_20190426.parquet
..\dataset\processed_data\201904\filtered_ctm_20190429.parquet
..\dataset\processed_data\201904\filtered_ctm_20190430.parquet
.\OHVLC_data\AAPL_OHVLC_1d_prepost_False.csv
.\OHVLC_data\ABBV_OHVLC_1d_prepost_False.csv
.\OHVLC_data\AMZN_OHVLC_1d_prepost_False.csv
.\OHVLC_data\AYX_OHVLC_1d_prepost_False.csv
.\OHVLC_data\BABA_OHVLC_1d_prepost_False.csv
.\OHVLC_data\BAC_OHVLC_1d_prepost_False.csv
.\OHVLC_data\BA_OHVLC_1d_prepost_False.csv
.\OHVLC_data\BRK_OHVLC_1d_prepost_False.csv
.\OHVLC_data\CRM_OHVLC_1d_prepost_False.csv
.\OHVLC_data\DIS_OHVLC_1d_prepost_False.csv
.\OHVLC_data\GOOG_OHVLC_1d_prepost_False.csv
.\OHVLC_data\JNJ_OHVLC_1d_prepost_False.csv
.\OHVLC_data\JPM_OHVLC_1d_prepost_False.csv
.\OHVLC_data\KO_OHVLC_1d_prepost_False.csv
.\OHVLC_data\MA_OHVLC_1d_prepost_False.csv
.\OHVLC_data\MSFT_OHVLC_1d_prepost_False.csv
.\OHVLC_data\SHOP_OHVLC_1d_prepost_False.csv
.\OHVLC_data\SQ_OHVLC_1d_prepost_False.csv
.\OHVLC_data\TWLO_OHVLC_1d_prepost_False.csv
.\OHVLC_data\T_OHVLC_1d_prepost_False.csv
.\OHVLC_data\VOO_OHVLC_1d_prepost_False.csv
.\OHVLC_data\VTI_OHVLC_1d_prepost_False.csv
.\OHVLC_data\V_OHVLC_1d_prepost_False.csv

In [3]:
df_input.tail()

,DATE,EX,SYM_SUFFIX,TR_SCOND,SIZE,PRICE,TR_STOP_IND,TR_CORR,TR_SEQNUM,TR_ID,TR_SOURCE,TR_RF,PART_TIME,TRF_TIME,TTE_IND,SYM_ROOT,TIME_M,Market_Session
6337932,2019-04-30,b'P',b'0',b'9',0.0,150.39,b'N',b'00',41393701.0,b'52983560095051',b'C',b'0',66600.000205,NaN,b'1',VTI,0 days 18:30:00.000758,Post-Market
6337933,2019-04-30,b'P',b'0',b'M',24644.0,150.39,b'N',b'00',41393901.0,b'52983560095052',b'C',b'0',66600.000205,NaN,b'0',VTI,0 days 18:30:00.000854,Post-Market
6337934,2019-04-30,b'D',b'0',b'TI',50.0,150.75,b'N',b'00',41482801.0,b'79372192602678',b'C',b'N',70921.305000,70921.308613,b'0',VTI,0 days 19:42:01.310216,Post-Market
6337935,2019-04-30,b'P',b'0',b'9',0.0,150.39,b'N',b'00',41489701.0,b'52983560097095',b'C',b'0',72000.002349,NaN,b'1',VTI,0 days 20:00:00.003670,Post-Market
6337936,2019-04-30,b'P',b'0',b'M',24644.0,150.39,b'N',b'00',41489901.0,b'52983560097096',b'C',b'0',72000.002349,NaN,b'0',VTI,0 days 20:00:00.003725,Post-Market

In [4]:
df_input.describe()

,DATE,SIZE,PRICE,TR_SEQNUM,PART_TIME,TRF_TIME,TIME_M
count,6337937,6.337937e+06,6.337937e+06,6.337937e+06,6.337937e+06,1.000506e+06,6337937
mean,2019-02-28 18:18:35.498746112,1.011947e+03,4.362099e+02,6.773715e+07,4.875275e+04,5.073541e+04,0 days 13:32:46.767324830
min,2019-01-02 00:00:00,0.000000e+00,1.220000e+01,1.002000e+03,6.000000e+01,2.880002e+04,0 days 04:00:00.001416
25%,2019-01-30 00:00:00,1.000000e+01,1.054325e+02,4.487010e+05,3.420601e+04,3.423342e+04,0 days 09:30:06.440638289
50%,2019-02-28 00:00:00,8.200000e+01,1.538500e+02,2.572149e+06,5.756307e+04,5.757215e+04,0 days 15:59:23.086618079
75%,2019-04-01 00:00:00,1.000000e+02,2.656600e+02,1.672467e+08,5.759683e+04,5.879391e+04,0 days 15:59:56.845669
max,2019-04-30 00:00:00,2.073649e+07,3.251593e+05,2.865459e+08,7.200000e+04,7.199993e+04,0 days 20:00:00.011213
std,NaN,4.774776e+04,3.244062e+03,9.196527e+07,1.324035e+04,1.205782e+04,0 days 03:40:19.033606172

In [5]:
df_input.dtypes

DATE               datetime64[ns]
EX                         object
SYM_SUFFIX                 object
TR_SCOND                   object
SIZE                      float64
PRICE                     float64
TR_STOP_IND                object
TR_CORR                    object
TR_SEQNUM                 float64
TR_ID                      object
TR_SOURCE                  object
TR_RF                      object
PART_TIME                 float64
TRF_TIME                  float64
TTE_IND                    object
SYM_ROOT                   object
TIME_M            timedelta64[ns]
Market_Session             object
dtype: object

In [6]:
# Convert to correct Data Types

# Convert Date to datetime
df_input["DATE"] = pd.to_datetime(df_input["DATE"])


# Convert Market Session column to string
df_input["Market_Session"] = df_input["Market_Session"].astype(str)

In [7]:
# --- Aggregate Data at the Daily Level ---
daily_df = df_input.groupby(["SYM_ROOT", "DATE"]).agg(
    pre_market_volume=("SIZE", lambda x: x[df_input["Market_Session"] == "Pre-Market"].sum()),
    post_market_volume=("SIZE", lambda x: x[df_input["Market_Session"] == "Post-Market"].sum()),
).reset_index()

In [8]:
# Add 'DAY_OF_WEEK' column
daily_df['DAY_OF_WEEK'] = daily_df['DATE'].dt.day_name()

In [ ]:

# daily_df.drop('daily_VWAP', axis=1, inplace=True)

In [9]:
daily_df.tail(50)

     SYM_ROOT       DATE  pre_market_volume  post_market_volume DAY_OF_WEEK
1836      VTI 2019-02-19           261804.0            138544.0     Tuesday
1837      VTI 2019-02-20           129722.0            191820.0   Wednesday
1838      VTI 2019-02-21           139449.0            135141.0    Thursday
1839      VTI 2019-02-22            83941.0            211287.0      Friday
1840      VTI 2019-02-25           273075.0            138213.0      Monday
1841      VTI 2019-02-26           125232.0             75517.0     Tuesday
1842      VTI 2019-02-27           152398.0            249043.0   Wednesday
1843      VTI 2019-02-28            85249.0            479231.0    Thursday
1844      VTI 2019-03-01           144815.0             85412.0      Friday
1845      VTI 2019-03-04           330311.0             91111.0      Monday
1846      VTI 2019-03-05            94265.0            330634.0     Tuesday
1847      VTI 2019-03-06            86874.0            124789.0   Wednesday
1848      VTI 2019-03-07           119526.0             79072.0    Thursday
1849      VTI 2019-03-08           204945.0            130432.0      Friday
1850      VTI 2019-03-11           214672.0            110482.0      Monday
1851      VTI 2019-03-12           116733.0            184058.0     Tuesday
1852      VTI 2019-03-13           137280.0            157369.0   Wednesday
1853      VTI 2019-03-14           131315.0             66148.0    Thursday
1854      VTI 2019-03-15           153520.0            279055.0      Friday
1855      VTI 2019-03-18           174989.0            333024.0      Monday
1856      VTI 2019-03-19           150315.0           1955534.0     Tuesday
1857      VTI 2019-03-20           202092.0             76633.0   Wednesday
1858      VTI 2019-03-21            98232.0            111867.0    Thursday
1859      VTI 2019-03-22            87192.0            721709.0      Friday
1860      VTI 2019-03-25           182770.0            127339.0      Monday
1861      VTI 2019-03-26           114961.0            122218.0     Tuesday
1862      VTI 2019-03-27           103227.0             65200.0   Wednesday
1863      VTI 2019-03-28           422364.0            127490.0    Thursday
1864      VTI 2019-03-29           129046.0            772136.0      Friday
1865      VTI 2019-04-01           318295.0            300859.0      Monday
1866      VTI 2019-04-02           125436.0            164662.0     Tuesday
1867      VTI 2019-04-03           157014.0            387312.0   Wednesday
1868      VTI 2019-04-04           114266.0            193720.0    Thursday
1869      VTI 2019-04-05           116077.0             53720.0      Friday
1870      VTI 2019-04-08           220843.0             89248.0      Monday
1871      VTI 2019-04-09           109729.0            294898.0     Tuesday
1872      VTI 2019-04-10           147106.0            169324.0   Wednesday
1873      VTI 2019-04-11           119811.0            275313.0    Thursday
1874      VTI 2019-04-12           113317.0            225103.0      Friday
1875      VTI 2019-04-15           252278.0            186776.0      Monday
1876      VTI 2019-04-16           162519.0           1123831.0     Tuesday
1877      VTI 2019-04-17            96619.0            319899.0   Wednesday
1878      VTI 2019-04-18           108571.0            147027.0    Thursday
1879      VTI 2019-04-22           267983.0            307963.0      Monday
1880      VTI 2019-04-23           127949.0            193878.0     Tuesday
1881      VTI 2019-04-24           184260.0            213643.0   Wednesday
1882      VTI 2019-04-25           137756.0             59205.0    Thursday
1883      VTI 2019-04-26           147901.0            149149.0      Friday
1884      VTI 2019-04-29           195142.0            228822.0      Monday
1885      VTI 2019-04-30           128352.0            169175.0     Tuesday

In [10]:
daily_df[daily_df['SYM_ROOT']=='AAPL'].head(50)

   SYM_ROOT       DATE  pre_market_volume  post_market_volume DAY_OF_WEEK
0      AAPL 2019-01-02          1448699.0          10818374.0   Wednesday
1      AAPL 2019-01-03          8702037.0           9788893.0    Thursday
2      AAPL 2019-01-04          3011205.0           9747041.0      Friday
3      AAPL 2019-01-07          1613404.0           6495477.0      Monday
4      AAPL 2019-01-08          1997698.0           5557865.0     Tuesday
5      AAPL 2019-01-09          2461012.0           4722655.0   Wednesday
6      AAPL 2019-01-10          1236504.0           6455076.0    Thursday
7      AAPL 2019-01-11          1006231.0           5753453.0      Friday
8      AAPL 2019-01-14          1069675.0           8301998.0      Monday
9      AAPL 2019-01-15           957658.0           4006406.0     Tuesday
10     AAPL 2019-01-16          1264303.0           5534190.0   Wednesday
11     AAPL 2019-01-17           880134.0           4115596.0    Thursday
12     AAPL 2019-01-18          6453058.0           7726390.0      Friday
13     AAPL 2019-01-22          1488058.0           8825472.0     Tuesday
14     AAPL 2019-01-23           934932.0           4310665.0   Wednesday
15     AAPL 2019-01-24           774337.0           6338001.0    Thursday
16     AAPL 2019-01-25          1607037.0           4758242.0      Friday
17     AAPL 2019-01-28          1798791.0           5134843.0      Monday
18     AAPL 2019-01-29           984088.0          11407065.0     Tuesday
19     AAPL 2019-01-30          4253500.0           6242726.0   Wednesday
20     AAPL 2019-01-31          1449220.0          13707745.0    Thursday
21     AAPL 2019-02-01          1048274.0          11333673.0      Friday
22     AAPL 2019-02-04           898836.0           6031820.0      Monday
23     AAPL 2019-02-05          1485416.0           5935761.0     Tuesday
24     AAPL 2019-02-06          1176148.0           3328893.0   Wednesday
25     AAPL 2019-02-07          1274018.0           4710559.0    Thursday
26     AAPL 2019-02-08          1167954.0           4405871.0      Friday
27     AAPL 2019-02-11           878625.0           4370842.0      Monday
28     AAPL 2019-02-12           953397.0           4779570.0     Tuesday
29     AAPL 2019-02-13           940459.0           4137107.0   Wednesday
30     AAPL 2019-02-14          1091089.0           4832593.0    Thursday
31     AAPL 2019-02-15          4805305.0           4834296.0      Friday
32     AAPL 2019-02-19          1296249.0           3459856.0     Tuesday
33     AAPL 2019-02-20           650643.0           4972436.0   Wednesday
34     AAPL 2019-02-21           742048.0           2638448.0    Thursday
35     AAPL 2019-02-22           735059.0           6588473.0      Friday
36     AAPL 2019-02-25          1289433.0           3451161.0      Monday
37     AAPL 2019-02-26           899822.0           4134967.0     Tuesday
38     AAPL 2019-02-27           802100.0           7171457.0   Wednesday
39     AAPL 2019-02-28           684056.0          13760852.0    Thursday
40     AAPL 2019-03-01           636224.0           8276485.0      Friday
41     AAPL 2019-03-04          1082949.0           4424598.0      Monday
42     AAPL 2019-03-05           567647.0           6887367.0     Tuesday
43     AAPL 2019-03-06           959297.0           5553142.0   Wednesday
44     AAPL 2019-03-07           682363.0           7455710.0    Thursday
45     AAPL 2019-03-08          1576893.0           6882384.0      Friday
46     AAPL 2019-03-11          1528409.0           7464721.0      Monday
47     AAPL 2019-03-12          1423486.0           7177312.0     Tuesday
48     AAPL 2019-03-13          1003491.0          12014870.0   Wednesday
49     AAPL 2019-03-14          1386189.0           6800117.0    Thursday

In [11]:
# Tickers of interest
selected_tickers = [
    "AAPL", "AMZN", "JNJ", "SQ", "TWLO", "VOO", "JPM", "T", "DIS", "MSFT",
    "AYX", "CRM", "SHOP", "VTI", "V", "GOOG", "BA", "BRK", "KO", "MA", "ABBV", "BABA", "BAC"
]

In [13]:
pre_post_volume_data_root = "./Pre_Post_Volume_data/"
for ticker in selected_tickers:
    file_path = pre_post_volume_data_root + ticker + "_prepost_volume.csv"
    ticker_df = daily_df[daily_df['SYM_ROOT']==ticker]
    ticker_df.to_csv(file_path)