In [14]:
import pandas as pd
import os
import glob

In [ ]:
data_file_path = r'G:\FYP_v2\PrePostMarketDataset\processed_data\*\*.parquet'
ohlcv_folder = r"E:\CampusAcedemics2\SEM7\FYP\Intellitrade\New_data_2\*.csv"

input_files = glob.glob(data_file_path)
output_files = glob.glob(ohlcv_folder)

df_input_list = [pd.read_parquet(file) for file in input_files]
df_output_list = [pd.read_parquet(file) for file in output_files]

df_input = pd.concat(df_input_list, ignore_index=True)
df_output = pd.concat(df_output_list, ignore_index=True)

In [16]:
df_input.tail()

,DATE,EX,SYM_SUFFIX,TR_SCOND,SIZE,PRICE,TR_STOP_IND,TR_CORR,TR_SEQNUM,TR_ID,TR_SOURCE,TR_RF,PART_TIME,TRF_TIME,TTE_IND,SYM_ROOT,TIME_M,Market_Session
6337932,2019-04-30,b'P',b'0',b'9',0.0,150.39,b'N',b'00',41393701.0,b'52983560095051',b'C',b'0',66600.000205,NaN,b'1',VTI,0 days 18:30:00.000758,Post-Market
6337933,2019-04-30,b'P',b'0',b'M',24644.0,150.39,b'N',b'00',41393901.0,b'52983560095052',b'C',b'0',66600.000205,NaN,b'0',VTI,0 days 18:30:00.000854,Post-Market
6337934,2019-04-30,b'D',b'0',b'TI',50.0,150.75,b'N',b'00',41482801.0,b'79372192602678',b'C',b'N',70921.305000,70921.308613,b'0',VTI,0 days 19:42:01.310216,Post-Market
6337935,2019-04-30,b'P',b'0',b'9',0.0,150.39,b'N',b'00',41489701.0,b'52983560097095',b'C',b'0',72000.002349,NaN,b'1',VTI,0 days 20:00:00.003670,Post-Market
6337936,2019-04-30,b'P',b'0',b'M',24644.0,150.39,b'N',b'00',41489901.0,b'52983560097096',b'C',b'0',72000.002349,NaN,b'0',VTI,0 days 20:00:00.003725,Post-Market

In [17]:
df_input.describe()

,DATE,SIZE,PRICE,TR_SEQNUM,PART_TIME,TRF_TIME,TIME_M
count,6337937,6.337937e+06,6.337937e+06,6.337937e+06,6.337937e+06,1.000506e+06,6337937
mean,2019-02-28 18:18:35.498746112,1.011947e+03,4.362099e+02,6.773715e+07,4.875275e+04,5.073541e+04,0 days 13:32:46.767324830
min,2019-01-02 00:00:00,0.000000e+00,1.220000e+01,1.002000e+03,6.000000e+01,2.880002e+04,0 days 04:00:00.001416
25%,2019-01-30 00:00:00,1.000000e+01,1.054325e+02,4.487010e+05,3.420601e+04,3.423342e+04,0 days 09:30:06.440638289
50%,2019-02-28 00:00:00,8.200000e+01,1.538500e+02,2.572149e+06,5.756307e+04,5.757215e+04,0 days 15:59:23.086618079
75%,2019-04-01 00:00:00,1.000000e+02,2.656600e+02,1.672467e+08,5.759683e+04,5.879391e+04,0 days 15:59:56.845669
max,2019-04-30 00:00:00,2.073649e+07,3.251593e+05,2.865459e+08,7.200000e+04,7.199993e+04,0 days 20:00:00.011213
std,NaN,4.774776e+04,3.244062e+03,9.196527e+07,1.324035e+04,1.205782e+04,0 days 03:40:19.033606172

In [18]:
# Convert to correct Data Types

# Convert Date to datetime
df_input["DATE"] = pd.to_datetime(df_input["DATE"])


# Convert Market Session column to string
df_input["Market_Session"] = df_input["Market_Session"].astype(str)

In [19]:
# --- Aggregate Data at the Daily Level ---
daily_df = df_input.groupby(["SYM_ROOT", "DATE"]).agg(
    pre_market_volume=("SIZE", lambda x: x[df_input["Market_Session"] == "Pre-Market"].sum()),
    post_market_volume=("SIZE", lambda x: x[df_input["Market_Session"] == "Post-Market"].sum()),
).reset_index()

In [24]:
# Add 'DAY_OF_WEEK' column
daily_df['DAY_OF_WEEK'] = daily_df['DATE'].dt.day_name()

In [ ]:

daily_df.drop('daily_VWAP', axis=1, inplace=True)

In [30]:
daily_df.tail(50)

     SYM_ROOT       DATE  pre_market_volume  post_market_volume DAY_OF_WEEK
1836      VTI 2019-02-19           261804.0            138544.0     Tuesday
1837      VTI 2019-02-20           129722.0            191820.0   Wednesday
1838      VTI 2019-02-21           139449.0            135141.0    Thursday
1839      VTI 2019-02-22            83941.0            211287.0      Friday
1840      VTI 2019-02-25           273075.0            138213.0      Monday
1841      VTI 2019-02-26           125232.0             75517.0     Tuesday
1842      VTI 2019-02-27           152398.0            249043.0   Wednesday
1843      VTI 2019-02-28            85249.0            479231.0    Thursday
1844      VTI 2019-03-01           144815.0             85412.0      Friday
1845      VTI 2019-03-04           330311.0             91111.0      Monday
1846      VTI 2019-03-05            94265.0            330634.0     Tuesday
1847      VTI 2019-03-06            86874.0            124789.0   Wednesday
1848      VTI 2019-03-07           119526.0             79072.0    Thursday
1849      VTI 2019-03-08           204945.0            130432.0      Friday
1850      VTI 2019-03-11           214672.0            110482.0      Monday
1851      VTI 2019-03-12           116733.0            184058.0     Tuesday
1852      VTI 2019-03-13           137280.0            157369.0   Wednesday
1853      VTI 2019-03-14           131315.0             66148.0    Thursday
1854      VTI 2019-03-15           153520.0            279055.0      Friday
1855      VTI 2019-03-18           174989.0            333024.0      Monday
1856      VTI 2019-03-19           150315.0           1955534.0     Tuesday
1857      VTI 2019-03-20           202092.0             76633.0   Wednesday
1858      VTI 2019-03-21            98232.0            111867.0    Thursday
1859      VTI 2019-03-22            87192.0            721709.0      Friday
1860      VTI 2019-03-25           182770.0            127339.0      Monday
1861      VTI 2019-03-26           114961.0            122218.0     Tuesday
1862      VTI 2019-03-27           103227.0             65200.0   Wednesday
1863      VTI 2019-03-28           422364.0            127490.0    Thursday
1864      VTI 2019-03-29           129046.0            772136.0      Friday
1865      VTI 2019-04-01           318295.0            300859.0      Monday
1866      VTI 2019-04-02           125436.0            164662.0     Tuesday
1867      VTI 2019-04-03           157014.0            387312.0   Wednesday
1868      VTI 2019-04-04           114266.0            193720.0    Thursday
1869      VTI 2019-04-05           116077.0             53720.0      Friday
1870      VTI 2019-04-08           220843.0             89248.0      Monday
1871      VTI 2019-04-09           109729.0            294898.0     Tuesday
1872      VTI 2019-04-10           147106.0            169324.0   Wednesday
1873      VTI 2019-04-11           119811.0            275313.0    Thursday
1874      VTI 2019-04-12           113317.0            225103.0      Friday
1875      VTI 2019-04-15           252278.0            186776.0      Monday
1876      VTI 2019-04-16           162519.0           1123831.0     Tuesday
1877      VTI 2019-04-17            96619.0            319899.0   Wednesday
1878      VTI 2019-04-18           108571.0            147027.0    Thursday
1879      VTI 2019-04-22           267983.0            307963.0      Monday
1880      VTI 2019-04-23           127949.0            193878.0     Tuesday
1881      VTI 2019-04-24           184260.0            213643.0   Wednesday
1882      VTI 2019-04-25           137756.0             59205.0    Thursday
1883      VTI 2019-04-26           147901.0            149149.0      Friday
1884      VTI 2019-04-29           195142.0            228822.0      Monday
1885      VTI 2019-04-30           128352.0            169175.0     Tuesday

In [ ]:
daily_df[daily_df['SYM_ROOT']=='AYX'].head(50)