In [1]:
import pandas as pd

In [2]:
dataset_file_path = './Merged_data/final_dataset_with_labels.csv'

df = pd.read_csv(dataset_file_path)

In [3]:
df.head()

,SYM_ROOT,DATE,pre_market_volume,post_market_volume,DAY_OF_WEEK,OPEN,HIGH,LOW,CLOSE,VOLUME
0,AAPL,2019-01-02,1448699.0,10818374.0,Wednesday,36.985091,37.930673,36.827493,37.708603,148158800.0
1,AAPL,2019-01-03,8702037.0,9788893.0,Thursday,34.379961,34.795445,33.907172,33.952541,365248800.0
2,AAPL,2019-01-04,3011205.0,9747041.0,Friday,34.511292,35.471200,34.336981,35.401951,234428400.0
3,AAPL,2019-01-07,1613404.0,6495477.0,Monday,35.507018,35.538061,34.838425,35.323154,219111200.0
4,AAPL,2019-01-08,1997698.0,5557865.0,Tuesday,35.712369,36.252020,35.464036,35.996521,164101200.0

In [4]:
df['SYM_ROOT'].unique()

array(['AAPL', 'ABBV', 'AMZN', 'AYX', 'BA', 'BABA', 'BAC', 'BRK', 'CRM',
       'DIS', 'GOOG', 'JNJ', 'JPM', 'KO', 'MA', 'MSFT', 'SHOP', 'SQ', 'T',
       'TWLO', 'V', 'VOO', 'VTI'], dtype=object)

In [8]:
df['DATE'].unique()

<DatetimeArray>
['2019-01-02 00:00:00', '2019-01-03 00:00:00', '2019-01-04 00:00:00',
 '2019-01-07 00:00:00', '2019-01-08 00:00:00', '2019-01-09 00:00:00',
 '2019-01-10 00:00:00', '2019-01-11 00:00:00', '2019-01-14 00:00:00',
 '2019-01-15 00:00:00', '2019-01-16 00:00:00', '2019-01-17 00:00:00',
 '2019-01-18 00:00:00', '2019-01-22 00:00:00', '2019-01-23 00:00:00',
 '2019-01-24 00:00:00', '2019-01-25 00:00:00', '2019-01-28 00:00:00',
 '2019-01-29 00:00:00', '2019-01-30 00:00:00', '2019-01-31 00:00:00',
 '2019-02-01 00:00:00', '2019-02-04 00:00:00', '2019-02-05 00:00:00',
 '2019-02-06 00:00:00', '2019-02-07 00:00:00', '2019-02-08 00:00:00',
 '2019-02-11 00:00:00', '2019-02-12 00:00:00', '2019-02-13 00:00:00',
 '2019-02-14 00:00:00', '2019-02-15 00:00:00', '2019-02-19 00:00:00',
 '2019-02-20 00:00:00', '2019-02-21 00:00:00', '2019-02-22 00:00:00',
 '2019-02-25 00:00:00', '2019-02-26 00:00:00', '2019-02-27 00:00:00',
 '2019-02-28 00:00:00', '2019-03-01 00:00:00', '2019-03-04 00:00:00',
 '2019-03-05 00:00:00', '2019-03-06 00:00:00', '2019-03-07 00:00:00',
 '2019-03-08 00:00:00', '2019-03-11 00:00:00', '2019-03-12 00:00:00',
 '2019-03-13 00:00:00', '2019-03-14 00:00:00', '2019-03-15 00:00:00',
 '2019-03-18 00:00:00', '2019-03-19 00:00:00', '2019-03-20 00:00:00',
 '2019-03-21 00:00:00', '2019-03-22 00:00:00', '2019-03-25 00:00:00',
 '2019-03-26 00:00:00', '2019-03-27 00:00:00', '2019-03-28 00:00:00',
 '2019-03-29 00:00:00', '2019-04-01 00:00:00', '2019-04-02 00:00:00',
 '2019-04-03 00:00:00', '2019-04-04 00:00:00', '2019-04-05 00:00:00',
 '2019-04-08 00:00:00', '2019-04-09 00:00:00', '2019-04-10 00:00:00',
 '2019-04-11 00:00:00', '2019-04-12 00:00:00', '2019-04-15 00:00:00',
 '2019-04-16 00:00:00', '2019-04-17 00:00:00', '2019-04-18 00:00:00',
 '2019-04-22 00:00:00', '2019-04-23 00:00:00', '2019-04-24 00:00:00',
 '2019-04-25 00:00:00', '2019-04-26 00:00:00', '2019-04-29 00:00:00',
 '2019-04-30 00:00:00']
Length: 82, dtype: datetime64[ns]

In [6]:
df.columns

Index(['SYM_ROOT', 'DATE', 'pre_market_volume', 'post_market_volume',
       'DAY_OF_WEEK', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOLUME'],
      dtype='object')

In [7]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [9]:
# Create the target variable dataset
df['DIFF_O&C'] = df['CLOSE'] - df['OPEN']
df['DIFF_H&L'] = df['HIGH'] - df['LOW']

In [10]:
# Create shifted features for the previous day's post-market volume
df['PREV_POST_MARKET_VOLUME'] = df.groupby('SYM_ROOT')['post_market_volume'].shift(1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1886 entries, 0 to 1885
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SYM_ROOT                 1886 non-null   object
 1   DATE                     1886 non-null   datetime64[ns]
 2   pre_market_volume        1886 non-null   float64
 3   post_market_volume       1886 non-null   float64
 4   DAY_OF_WEEK              1886 non-null   object
 5   OPEN                     1804 non-null   float64
 6   HIGH                     1804 non-null   float64
 7   LOW                      1804 non-null   float64
 8   CLOSE                    1804 non-null   float64
 9   VOLUME                   1804 non-null   float64
 10  DIFF_O&C                 1804 non-null   float64
 11  DIFF_H&L                 1804 non-null   float64
 12  PREV_POST_MARKET_VOLUME  1863 non-null   float64
dtypes: datetime64[ns](1), float64(10), object(2)
memory usage: 191.7+ KB

In [15]:
df[df["CLOSE"].isnull()]

,SYM_ROOT,DATE,pre_market_volume,post_market_volume,DAY_OF_WEEK,OPEN,HIGH,LOW,CLOSE,VOLUME,DIFF_O&C,DIFF_H&L,PREV_POST_MARKET_VOLUME
246,AYX,2019-01-02,10660.0,248573.0,Wednesday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,AYX,2019-01-03,9422.0,88315.0,Thursday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,248573.0
248,AYX,2019-01-04,6485.0,179134.0,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88315.0
249,AYX,2019-01-07,14127.0,147861.0,Monday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179134.0
250,AYX,2019-01-08,39129.0,154371.0,Tuesday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147861.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,AYX,2019-04-24,9299.0,122090.0,Wednesday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153372.0
324,AYX,2019-04-25,12443.0,504003.0,Thursday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122090.0
325,AYX,2019-04-26,6115.0,45485.0,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,504003.0
326,AYX,2019-04-29,33206.0,346847.0,Monday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45485.0
327,AYX,2019-04-30,10715.0,184060.0,Tuesday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,346847.0

In [16]:
# Remove AYX because data from yahoo is null
df = df[df['SYM_ROOT'] != 'AYX']

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1804 entries, 0 to 1885
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SYM_ROOT                 1804 non-null   object
 1   DATE                     1804 non-null   datetime64[ns]
 2   pre_market_volume        1804 non-null   float64
 3   post_market_volume       1804 non-null   float64
 4   DAY_OF_WEEK              1804 non-null   object
 5   OPEN                     1804 non-null   float64
 6   HIGH                     1804 non-null   float64
 7   LOW                      1804 non-null   float64
 8   CLOSE                    1804 non-null   float64
 9   VOLUME                   1804 non-null   float64
 10  DIFF_O&C                 1804 non-null   float64
 11  DIFF_H&L                 1804 non-null   float64
 12  PREV_POST_MARKET_VOLUME  1782 non-null   float64
dtypes: datetime64[ns](1), float64(10), object(2)
memory usage: 197.3+ KB

In [18]:
df = df.dropna(subset = ['PREV_POST_MARKET_VOLUME'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1782 entries, 1 to 1885
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SYM_ROOT                 1782 non-null   object
 1   DATE                     1782 non-null   datetime64[ns]
 2   pre_market_volume        1782 non-null   float64
 3   post_market_volume       1782 non-null   float64
 4   DAY_OF_WEEK              1782 non-null   object
 5   OPEN                     1782 non-null   float64
 6   HIGH                     1782 non-null   float64
 7   LOW                      1782 non-null   float64
 8   CLOSE                    1782 non-null   float64
 9   VOLUME                   1782 non-null   float64
 10  DIFF_O&C                 1782 non-null   float64
 11  DIFF_H&L                 1782 non-null   float64
 12  PREV_POST_MARKET_VOLUME  1782 non-null   float64
dtypes: datetime64[ns](1), float64(10), object(2)
memory usage: 194.9+ KB

In [20]:
df['SYM_ROOT'].unique()

array(['AAPL', 'ABBV', 'AMZN', 'BA', 'BABA', 'BAC', 'BRK', 'CRM', 'DIS',
       'GOOG', 'JNJ', 'JPM', 'KO', 'MA', 'MSFT', 'SHOP', 'SQ', 'T',
       'TWLO', 'V', 'VOO', 'VTI'], dtype=object)

In [21]:
# Get unique symbols
unique_symbols = df['SYM_ROOT'].unique()

# Save separate CSV files for each symbol
output_dir = "./Merged_data/"  # Change this if needed

for symbol in unique_symbols:
    symbol_df = df[df['SYM_ROOT'] == symbol]  # Filter data for the symbol
    file_path = f"{output_dir}{symbol}.csv"  # Create a filename
    symbol_df.to_csv(file_path, index=False)  # Save to CSV
    print(f"Saved: {file_path}")

print("All CSV files are created successfully.")

Saved: ./Merged_data/AAPL.csv
Saved: ./Merged_data/ABBV.csv
Saved: ./Merged_data/AMZN.csv
Saved: ./Merged_data/BA.csv
Saved: ./Merged_data/BABA.csv
Saved: ./Merged_data/BAC.csv
Saved: ./Merged_data/BRK.csv
Saved: ./Merged_data/CRM.csv
Saved: ./Merged_data/DIS.csv
Saved: ./Merged_data/GOOG.csv
Saved: ./Merged_data/JNJ.csv
Saved: ./Merged_data/JPM.csv
Saved: ./Merged_data/KO.csv
Saved: ./Merged_data/MA.csv
Saved: ./Merged_data/MSFT.csv
Saved: ./Merged_data/SHOP.csv
Saved: ./Merged_data/SQ.csv
Saved: ./Merged_data/T.csv
Saved: ./Merged_data/TWLO.csv
Saved: ./Merged_data/V.csv
Saved: ./Merged_data/VOO.csv
Saved: ./Merged_data/VTI.csv
All CSV files are created successfully.