In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("./OHVLC_5min/AAPL_OHVLC_5m.csv")
df.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1,Datetime,NaN,NaN,NaN,NaN,NaN
2,2024-12-16 14:30:00+00:00,249.92660522460938,249.99000549316406,247.64999389648438,248.0,2747902
3,2024-12-16 14:35:00+00:00,249.7100067138672,249.97000122070312,249.47999572753906,249.9199981689453,577478
4,2024-12-16 14:40:00+00:00,249.6999969482422,250.0,249.4600067138672,249.6999969482422,453003

Here we can see in the collected data the columns and the first two rows are not in the way we want. So we have to fix this by droping the first two rows(Ticker indicating row, and the next row) and renaming the first column into "Datetime"

In [4]:
df.shape

(2852, 6)

In [5]:
df = df.iloc[2:].reset_index(drop=True)
df.head()

,Price,Close,High,Low,Open,Volume
0,2024-12-16 14:30:00+00:00,249.92660522460938,249.99000549316406,247.64999389648438,248.0,2747902
1,2024-12-16 14:35:00+00:00,249.7100067138672,249.97000122070312,249.47999572753906,249.9199981689453,577478
2,2024-12-16 14:40:00+00:00,249.6999969482422,250.0,249.4600067138672,249.6999969482422,453003
3,2024-12-16 14:45:00+00:00,248.97000122070312,249.7899932861328,248.85000610351562,249.7100067138672,414881
4,2024-12-16 14:50:00+00:00,249.10000610351562,249.10000610351562,248.60000610351562,248.97999572753906,395577

In [7]:
df = df.rename(columns={'Price': 'Datetime'})
df.head()

,Datetime,Close,High,Low,Open,Volume
0,2024-12-16 14:30:00+00:00,249.92660522460938,249.99000549316406,247.64999389648438,248.0,2747902
1,2024-12-16 14:35:00+00:00,249.7100067138672,249.97000122070312,249.47999572753906,249.9199981689453,577478
2,2024-12-16 14:40:00+00:00,249.6999969482422,250.0,249.4600067138672,249.6999969482422,453003
3,2024-12-16 14:45:00+00:00,248.97000122070312,249.7899932861328,248.85000610351562,249.7100067138672,414881
4,2024-12-16 14:50:00+00:00,249.10000610351562,249.10000610351562,248.60000610351562,248.97999572753906,395577

In [8]:
print(df.dtypes)

Datetime    object
Close       object
High        object
Low         object
Open        object
Volume      object
dtype: object

We have to convert datatypes of these columns

In [12]:
# Convert Datetime column to datetime type
df['Datetime'] = pd.to_datetime(df['Datetime'], errors='coerce')
# remove the timezone and convert it to a naive datetime format
df['Datetime'] = df['Datetime'].dt.tz_localize(None)

# Convert numeric columns
numeric_columns = ['High', 'Low', 'Open', 'Close', 'Volume']
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Verify data types
print(df.dtypes)

Datetime    datetime64[ns]
Close              float64
High               float64
Low                float64
Open               float64
Volume               int64
dtype: object

In [13]:
df.tail()

,Datetime,Close,High,Low,Open,Volume
2845,2025-02-10 20:35:00,227.469894,227.548706,227.199997,227.539993,563288
2846,2025-02-10 20:40:00,227.481995,227.759995,227.429993,227.459900,339000
2847,2025-02-10 20:45:00,227.619995,227.644608,227.300003,227.475006,354610
2848,2025-02-10 20:50:00,227.679901,227.880005,227.250000,227.610001,674891
2849,2025-02-10 20:55:00,227.639999,227.750000,227.429993,227.630005,1249545

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   datetime64[ns]
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 133.7 KB

## Python Script

In [15]:
import pandas as pd
import os

# Define the folder containing CSV files
# Raw data root
raw_data_root = os.getcwd()
dataset_folder = os.path.join(raw_data_root, "OHVLC_5min")
output_folder = os.path.join(raw_data_root, "Cleaned_data")  # Folder to save cleaned files

# Ensure output folder exists
os.makedirs(output_folder, exist_ok=True)

# List all CSV files in the folder
csv_files = [f for f in os.listdir(dataset_folder) if f.endswith(".csv")]

# Process each CSV file
for file in csv_files:
    file_path = os.path.join(dataset_folder, file)
    
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # Remove first two rows and reset index
    df = df.iloc[2:].reset_index(drop=True)

    # Rename the "Price" column to "Datetime"
    df = df.rename(columns={'Price': 'Datetime'})
    
    # Convert "Datetime" column to datetime type
    df['Datetime'] = pd.to_datetime(df['Datetime'], errors='coerce')
    
    # Remove timezone information
    df['Datetime'] = df['Datetime'].dt.tz_localize(None)

    # Convert numeric columns
    numeric_columns = ['High', 'Low', 'Open', 'Close', 'Volume']
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

    # Save the cleaned file
    cleaned_file_path = os.path.join(output_folder, file)
    df.to_csv(cleaned_file_path, index=False)
    
    print(f"Processed and saved: {cleaned_file_path}")

print("All CSV files have been cleaned and saved successfully.")

Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\AAPL_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\AMZN_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\BABA_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\BHAT_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\GOOGL_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\INTC_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\META_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\MSFT_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\NFLX_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\NVDA_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\PLTR_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\QQQ_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\SHOP_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\SPY_OHVLC_5m.csv
Processed and saved: d:\ACADEMICS\UOM\FYP\Repo\Intellitrade\Turning_Points_Forecasting\Cleaned_data\TSLA_OHVLC_5m.csv
All CSV files have been cleaned and saved successfully.